@charset "utf-8";
/* CSS Document */

body {
	/* background:url(../img/img08_big.jpg); */
}

.chatWrapper {
	position:fixed;
	bottom:10px;
	left:5px;
	width:500px;
	height:40px;
	opacity:0;
	z-index:20;
}

.chatAnchor {
	width:20px;
	height:40px;	
	background:url(../img/chat2/anchorTab.png);
	cursor:move;
}

.chatAnchor span.hover {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 40px;
	width: 20px;
	background:url(../img/chat2/anchorTabHover.png) 0 0 no-repeat;
}

.chatActions { 
	height:40px;
	border-radius:3px;
	background:url(../img/chat2/chatBoxBG.png);
	box-shadow: 0px 0px 5px #888;	
}

.chatSettings {
	height:40px;
	width:20px;
	background:url(../img/chat2/settingsTab.png);
}

.chatSettings span.hover {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	height: 40px;
	width: 20px;
	background:url(../img/chat2/settingsTabHover.png) 0 0 no-repeat;
}

.chatChannel {
	-webkit-appearance:none;
	height:30px;
	margin:5px;
	width:93px;
	border-radius:1px;
	background:rgba(204,0,93,.5);
	color:#fff;
	font-family: 'TitilliumText25L600wt', Arial, Helvetica, sans-serif;
	border:solid 1px rgba(255,255,255,.5);
	padding-left:2px;
}

.chatInputMsg {
	-webkit-appearance:none;
	height:26px;
	margin:5px;
	width:338px;
	border-radius:1px;
	background:rgba(255,255,255,.5);
	color:#333;
	font-family: 'TitilliumText25L600wt', Arial, Helvetica, sans-serif;
	border:solid 1px rgba(255,255,255,.5);
	padding-left:5px;
	margin:5px 5px 5px 0px;
}

.chatBox {
	position:absolute;
	width:460px;
	height:250px;
	background:rgba(0,0,0,.1) url(../img/chat2/tileBG.png);
	margin-top:-295px;
	border-radius:4px;
}

.chatBox span.hover {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width:460px;
	height:250px;
	background:rgba(0,0,0,.1);
	border-radius:4px;
	pointer-events:none;
}

.tabWrapper {
	position:absolute;
	opacity:0;
	width:100%;
	height:40px;
	margin-top:-41px;
	border-bottom:solid 1px rgba(0,255,255,.5);
	overflow:hidden;
}

.tabs {
	width:433px;
	height:23px;
	max-height:23px;
	background:url(../img/chat2/chatTab.png) no-repeat;
	font-family: 'TitilliumText25L400wt', Arial, Helvetica, sans-serif;
	color:rgba(255,255,255,.7);
	font-weight:bold;
	font-size:13px;
	padding-left:27px;
	padding-top:17px;
	line-height:12px;
	overflow:hidden;
	cursor:move;
}

.messages {
	position:absolute;
	width:433px;
	height:230px;
	font-family: 'TitilliumText25L600wt', Arial, Helvetica, sans-serif;
	color:#333;
	font-size:15px;
	padding:10px;
	overflow:auto;
	overflow-x: hidden;
}

.messages p {
	margin:0 0 5px 0;
}

.chatPreferences {
	position:absolute;
	width:200px;
	height:200px;
}

.channelMove {
	font-style:italic;
	color:#960;
}

.channelAnnounce {
	font-style:italic;
	color:#09F;
}

.channelUserArrive{
	font-style:italic;
	color:#060;
}

.channelUserLeave {
	font-style:italic;
	color:#900;
}

.channelAnnounce img {
	padding-right:3px;
	margin-top:-2px;
	vertical-align:middle;
}

.channelMove img, .channelUserArrive img, .channelUserLeave img {
	padding-right:3px;
	margin-top:-2px;
	vertical-align:middle;
}

.channelLoopback {
	color:rgba(204,0,93,.5);
	font-family: 'TitilliumText25L400wt', Arial, Helvetica, sans-serif;
	font-weight:bold;
}

/* -------------------  */

/* Turn on a 13x13 scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button:vertical {
    background-color: rgba(102,204,255,1);
}

/* Turn on single button up on top, and down on bottom */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    display: block;
}

/* Turn off the down area up on top, and up area on bottom */
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement {
    display: none;
}

/* Place The scroll down button at the bottom */
::-webkit-scrollbar-button:vertical:increment {
    background-color: rgba(102,204,255,.1);
}

/* Place The scroll up button at the up */
::-webkit-scrollbar-button:vertical:decrement {
    background-color: rgba(102,204,255,.1);
}

::-webkit-scrollbar-track:vertical {
    display: none;
}

/* Top area above thumb and below up button */
::-webkit-scrollbar-track-piece:vertical:start {
}

/* Bottom area below thumb and down button */
::-webkit-scrollbar-track-piece:vertical:end {
}

/* Track below and above */
::-webkit-scrollbar-track-piece {
    background-color: rgba(102,204,255,.1);
}

/* The thumb itself */
::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: rgba(102,204,255,.25);
}

/* Corner */
::-webkit-scrollbar-corner:vertical {
    background-color: rgba(102,204,255,.1);
}

/* Resizer */
::-webkit-scrollbar-resizer:vertical {
    background-color: rgba(102,204,255,.1);
}

/* -------------------  */
