@charset "utf-8";
/* CSS Document */

.glassWrapper {
	width:300px;
	background-image:url(../img/glass/glassBG.png), url(../img/glass/glassSideBG.png);
	background-position: center, left top;
	background-repeat:repeat,repeat-y;
	position:absolute;
	box-shadow: 0px 0px 10px rgba(0,0,0,.25);
	border-radius:3px;
	
}

.glassLeft {
	width:10px;
	height:10px;
/*	background:#00CC00;*/
	float: left;
	margin-left: -100%;
}

.glassCenter {
	height:10px;
/*	background:#CC0066;*/
	margin: 0 10px 0 10px;
}

.glassRight {
	width:10px;
	height:10px;
/*	background:#6CF;*/
	float: left;
	margin-left:-10px;
}

.innertube {
	height:10px;
	margin:0px;
}

.centerWrap {
	float:left;
	width:100%;
	height:10px;
}

.glassHeader {
	position:absolute;
	margin-top:-16px;
	width:100%;
}

.glassTitle {
	width:100%;
	height:36px;
	background-image:url(../img/glass/glassTitleBGHover.png);
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:34px;
	text-transform:uppercase;
	font-weight:bold;
	text-indent:10px;
	box-shadow: 0px 0px 10px rgba(255,255,255,.5);
	z-index: 2;
	
	transition: text-shadow 2s;
	-moz-transition: text-shadow 2s; /* Firefox 4 */
	-webkit-transition: text-shadow 2s; /* Safari and Chrome */
	-o-transition: text-shadow 2s; /* Opera */
}

.glassTitle:hover{
	text-shadow: 0 0 10px #fff;
}

.glassContent {
	margin:10px;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	overflow:auto;
}

.glassContent p {
	margin-top:2px;
}
.glassContent h1 {
	color:#AA7528;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-transform:uppercase;
	margin-bottom:2px;
	margin-top:0;
}

.clearfix {
	clear:both;
	height:0px;
}

.glassTabsLeft {
	position:absolute;
	background-image:url(../img/glass/glassTabLeft.png);
	height:36px;
	width:20px;
	margin-left:-20px;
	margin-top:-36px;
}

.glassTabsRightWrapper {
	position:absolute;
	height:36px;
	width:100%;
	text-align:right;
	margin-top:-36px;
}

.glassTabsRight {
	background-image:url(../img/glass/glassTabRight.png);
	height:36px;
	width:20px;
	float:right;
	margin-right:-20px;
}